body{
    margin: 0px;
    padding:0px;
}

#Paragrafo-1{
    color: purple;

    /* 
    background-image: url(../CSS/image/fundo.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;/*background rola junto com a pagina 
    */
    /*
    background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
    ordem a ser seguida
    */
    background: url(../CSS/image/fundo.jpg) center/cover no-repeat fixed;
}

#titulo{
    color: blue;
}

.texto-verde{
    color:red
}

#paragrafos{
    background-image: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#cm{
    background-color: red;
    width: 1cm;
    height: 1cm;
}

#mm{
    background-color: blue;
    width: 1mm;
    height: 1mm;
}

#in{
    background-color: red;
    width: 1in;
    height: 1in;
}

#px{
    background-color: blue;
    width: 1px;
    height: 1px;
}

#pt{
    background-color: red;
    width: 1px;
    height: 1px;
}

#pc{
    background-color: blue;
    width: 1pc;
    height: 1pc;
}
html{
    font-size:16px;
    /*
    font-size: 16px; default
    */
}

#container-inside{
    font-size: 25px;
    height: 100px;
    width: 250px;
    background-color: blue;
}

#inside{
    /*
    font-size: 2em; relativo ao tamanho da font daquele elemento
    font-size: 2rem; relativo ao tamanho da font do elemento raiz, nesse caso html
    

    -- é mais apropriado para se obter ajustes em diferentes tipos de mídia --
    height: 100vh; largura da viewport  
    width: 200vw; altura da viewport
    width: 200vmin; referente a menor dimenção 
    width: 200vmax;referente a maior dimenção 

    */
    font-size: 3rem;
    height: 100px;
    width: 50%;
    background-color: red;
}

#base{
    height: 10px;
    background-color:red
}

#container-conteudo{
    background-color:blue;
    color:white;
    margin:10px;
    padding: 10px;
}

#border{
    border: 1px dashed gray;
}

.box1{
    margin: 0px 0px 10px 0px;
    padding:0;
    width: 100px;
    height: 100px;
    background-color:purple;
    border: 10px solid gray;
    box-sizing: border-box;
}

.box2{
    margin: 0px;
    padding:0;
    width: 100px;
    height: 100px;
    background-color:purple;
    border: 10px solid gray;
}