body{
    margin: 0px;
    padding:0px;
    
}

.Paragrafo-1{
    /* 
    background-image: url(../CSS/image/fundo.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;/*background rola junto com a pagina 
    */
    /*
    background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
    ordem a ser seguida
    */
    color: rgb(0, 253, 0);
    background: url(../CSS/image/fundo.jpg) center/cover no-repeat fixed;
    font-family: 'Encode Sans SC', sans-serif;

}

#titulo{
    color: blue;
}

.texto-verde{
    color:red
}

#paragrafos{
    background-image: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#cm{
    background-color: red;
    width: 1cm;
    height: 1cm;
}

#mm{
    background-color: blue;
    width: 1mm;
    height: 1mm;
}

#in{
    background-color: red;
    width: 1in;
    height: 1in;
}

#px{
    background-color: blue;
    width: 1px;
    height: 1px;
}

#pt{
    background-color: red;
    width: 1px;
    height: 1px;
}

#pc{
    background-color: blue;
    width: 1pc;
    height: 1pc;
}
html{
    font-size:16px;
    /*
    font-size: 16px; default
    */
}

#container-inside{
    font-size: 25px;
    height: 100px;
    width: 250px;
    background-color: blue;
}

#inside{
    /*
    font-size: 2em; relativo ao tamanho da font daquele elemento
    font-size: 2rem; relativo ao tamanho da font do elemento raiz, nesse caso html
    

    -- é mais apropriado para se obter ajustes em diferentes tipos de mídia --
    height: 100vh; largura da viewport  
    width: 200vw; altura da viewport
    width: 200vmin; referente a menor dimenção 
    width: 200vmax;referente a maior dimenção 

    */
    font-size: 3rem;
    height: 100px;
    width: 50%;
    background-color: red;
}

#base{
    height: 10px;
    background-color:red
}

#container-conteudo{
    background-color:blue;
    color:white;
    margin:10px;
    padding: 10px;
}

#border{
    border: 1px dashed gray;
}

.box1{
    margin: 0px 0px 10px 0px;
    padding:0;
    width: 100px;
    height: 100px;
    background-color:purple;
    border: 10px solid gray;
    box-sizing: border-box; 
    /* box-sizing: border-box deixar no tamanho definido por width/height
    box-sizing: content-box soma o valor definido de width/height + margin/padding/border */
}

.box2{
    margin: 0px;
    padding:0;
    width: 100px;
    height: 100px;
    background-color:purple;
    border: 10px solid gray;
}

.textos{
    color: rgb(0, 0, 148);
    text-align: justify;
    /* text-transform: capitalize; uppercase, lowercase, capitalize */
    line-height: 1;
    /* text-shadow: 20px 10px 2px black dislocamento pra direita, pra baixo, e cor*/
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant: normal; /* variaves da fonte*/
    /* text-indent: 50px; identação do paragrafo (espaçamento) */
}
 /* usando fonte customizada
@font-face {
    font-family: ;nome da fonte
    src: url(); url da fonte
}
*/

.cadastrar {
    text-decoration: none;
    cursor: normal;
    color:black;
    background-color:white;
    padding:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.cadastrar:link{
    background-color: black;
    color: red;
}

#listas ul {
    list-style-type: circle;
    background-color: rgb(235, 147, 208);
    padding:10px;

}

#listas ol {
    list-style-type: circle;
    padding:10px;
    background-color: rgb(40, 101, 214);
    text-decoration: dashed;
}

#listas li{
    list-style-image:url(../CSS/image/icon.png);
    list-style-position: inside; /* posiciona o icone dentro ou fora da lista*/
    border: 5px solid black;
    margin:5px;
    padding:5px;
    background-color: yellow;
    text-transform: uppercase;
}

#listas a {
    text-decoration: none;
    font-weight: bolder;
    text-transform: lowercase;
}